.SidebarItem {}

.link {
  margin-left: 10px;
  opacity: 1;
}

.items {
  margin-top: 20px;
  margin-left: 30px;
}

.icon {
  fill: var(--inverted-primary-color);
}

.item {
  display: flex;
  align-items: center;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
