.StarRating {}

.starIcon {
  cursor: pointer;

  & > path {
    stroke: var(--primary-color);
  }
}

.normal {
  fill: none;
}

.hovered {
  fill: var(--primary-color);
}

.selected {
  cursor: auto;
}
