.app.dark {
  --bg-color: #0f5b08;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #0f5b08;
  --secondary-color: #04ff04;
  --inverted-primary-color: #4d4d51;
  --inverted-secondary-color: #e8e8ea;
}
