.app_orange_theme {
  --bg-color: #ff8621;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #f50800;
  --secondary-color: #faf7f4;
  --inverted-primary-color: #b9500a;
  --inverted-secondary-color: #eb8546;

  // Skeleton
  --skeleton-shadow: #f50800;
  --skeleton-color: #faf7f4;

  // Code
  --code-bg: #fff;

  // Card
  --card-bg: #ca8d5b;
}
