.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.Links,
.actions {
  margin-left: auto;
}

.MainLink {
  margin-right: 15px;
}

.appName {
  margin-left: 15px;
  margin-right: 24px;
}
